In [7]:
import pandas as pd
import numpy as np
import os as os

air_qua=pd.read_csv('airquality.csv',sep=',')

In [32]:
#1Fetch the observations for 9 day of June

air_qua[(air_qua.Day==9) & (air_qua.Month==6)]

    Ozone  Solar.R  Wind  Temp  Month  Day
39   71.0    291.0  13.8    90      6    9

In [34]:
#2.	Find Average temperature for the month of June. 

air_qua[air_qua.Month==6].Temp.mean()

79.1

In [84]:
#3.	To which day of June has the least temperature

air_qua[(air_qua.Month==6)].sort_values(by="Temp").head(n=1)[['Day']]

    Day
48   18

In [86]:
#4.	Find Maximum Ozone value for the month of May

air_qua[(air_qua.Month==5)].Ozone.max()

115.0

In [89]:
#5.	Find the count of the missing values in the ozone column of the data set

air_qua.Ozone.isnull().sum()

37

In [91]:
#6.	Find out What is the mean of the Ozone column in this dataset

air_qua.Ozone.mean()

42.12931034482759

In [98]:
#7Find out which month has the highest temperature

air_qua.sort_values(by ="Temp",ascending=False)[['Temp','Month']].head(1)

     Temp  Month
119    97      8

In [105]:
#8.	Find out the wind value when the Ozone becomes maximum

air_qua.sort_values(by="Ozone",ascending=False)[['Wind']].head(1)

     Wind
116   3.4

In [107]:
#9.	Find out the months for which the airquality observations have been carried out

air_qua.Month.unique()

array([5, 6, 7, 8, 9], dtype=int64)

In [110]:
#10.Find the Ozone and temperature values for the 1st observation of every month.

air_qua[(air_qua.Day==1)][['Ozone','Temp']]

     Ozone  Temp
0     41.0    67
31     NaN    78
61   135.0    84
92    39.0    81
123   96.0    91

In [115]:
#11.Which day of which month corresponds to the least Ozone Value.

air_qua.sort_values(by="Ozone")[['Day','Month','Ozone']].head(1)

    Day  Month  Ozone
20   21      5    1.0

In [122]:
#12.Convert the temperature for all the observations to Centigrade scale

air_qua['Centigrade'] = (air_qua.Temp-32) * (5/9)

print(air_qua[['Centigrade','Temp']])

     Centigrade  Temp
0     19.444444    67
1     22.222222    72
2     23.333333    74
3     16.666667    62
4     13.333333    56
5     18.888889    66
6     18.333333    65
7     15.000000    59
8     16.111111    61
9     20.555556    69
10    23.333333    74
11    20.555556    69
12    18.888889    66
13    20.000000    68
14    14.444444    58
15    17.777778    64
16    18.888889    66
17    13.888889    57
18    20.000000    68
19    16.666667    62
20    15.000000    59
21    22.777778    73
22    16.111111    61
23    16.111111    61
24    13.888889    57
25    14.444444    58
26    13.888889    57
27    19.444444    67
28    27.222222    81
29    26.111111    79
..          ...   ...
123   32.777778    91
124   33.333333    92
125   33.888889    93
126   33.888889    93
127   30.555556    87
128   28.888889    84
129   26.666667    80
130   25.555556    78
131   23.888889    75
132   22.777778    73
133   27.222222    81
134   24.444444    76
135   25.000000    77
136   21.666667    71
137   21.666667    71
138   25.555556    78
139   19.444444    67
140   24.444444    76
141   20.000000    68
142   27.777778    82
143   17.777778    64
144   21.666667    71
145   27.222222    81
146   20.555556    69
147   17.222222    63
148   21.111111    70
149   25.000000    77
150   23.888889    75
151   24.444444    76
152   20.000000    68

[153 rows x 2 columns]